<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some about page</title>
    </head>
    <body>
       {{> header}}
        <p>
            Random text stufdynamic 2
        </p>

        {{> footer}}
    </body>
</html>