<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some home page</title>
    </head>
    <body>
       {{> header}}
        <p>
            {{screamIt welcomeMessage}}
            Random text stufdynamic for homepage 2
        </p>

        {{> footer}}
    </body>
</html>